/* || Common Styles */
/* link styling, headers, etc.
 */

/* || Utilities */
/* classes like mediabubbles,  */
.mediaBubble {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(115,115,115,1);
  -moz-box-shadow: 2px 2px 3px -1px rgba(115,115,115,1);
  box-shadow: 2px 2px 3px -1px rgba(115,115,115,1);
  margin: 2em auto;
}

/* || Sitewide Styles */


/* || Specific Site styles */




/* Containers */
  .container {
    width: 80%;
    margin: 3vh auto;
  }

  .smImgContainer {
    width: 20%;
  }

  /* Styles */
  .hidden {
    display: none
  }