/* || Common Styles */
/* link styling, headers, etc.
 */
 html {
  font-family: brada-sans
 }
 body {
  display: flex;
  flex-direction: column;
  overflow-x: none;
  text-align: center;
  justify-content: center;
 }

 h1 {
  font-size: 1.5em;
  margin: 0 auto;
 }

 h2 {
  font-size: 1.25em;
  margin: 0.5em auto;
 }

/* || Utilities */
/* classes like mediabubbles,  */
body>section {
  width: 100%;
  margin: 0 auto;
  justify-content: inherit;
}

@media screen and (min-width: 400px) {
  body>section {
    width: 90%;
    justify-content: inherit;
  }
}

@media screen and (min-width: 900px) {
  body>section {
    width: 85%;
    justify-content: inherit;
  }
}

@media screen and (min-width: 1200px) {
  body>section {
    width: 75%;
    max-width: 900px;
    justify-content: inherit;
  }
}

.mediaBubble {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(115,115,115,1);
  -moz-box-shadow: 2px 2px 3px -1px rgba(115,115,115,1);
  box-shadow: 2px 2px 3px -1px rgba(115,115,115,1);
  margin: 1em auto;
}

.insect div {
  width: 100%;
  text-align: left;
}

.insect span {
  display: block;
}

.insect .insectData {
  padding: 0.5rem;
}

/* || Sitewide Styles */
/* Buttons */

/* Icons (search, github, twitter, etc) */

/* || Specific Site styles */
#addInsect {
  margin-top: 0;
}

#addInsect input {
  width: 80%;
  margin: 0.1em;
}

/* Containers */
  .container {
    width: 90%;
    margin: 3vh auto;
  }

  .smImgContainer {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
  }

  /* Styles */
  .hidden {
    display: none
  }